<!DOCTYPE HTML>
<html>
	<head>
		<title>Personal Blog Web App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<link rel="stylesheet" href="styles/main.css" />
	</head>
	<body>
		<!----
		<h1>Personal Blog Website!</h1>
		  <form action="/submit" method="POST">
			<label for="postTitle">Post Title</label><br>
			<input type="text" id="postTitle" name="postTitle"><br>
			<label for="subTitle">Sub title</label><br>
			<input type="text" id="subTitle" name="subTitle"><br>
			<label for="postContent">Post Content:</label><br>
			<textarea cols="40" rows="5" name="postContent" wrap=physical></textarea><br>
			<input type="submit" value="Create Post">
		  </form>

		  <h2>Recent Posts</h2>
		  <div id="content">
			<% if (posts.length !== 0) { %>
				<% posts.forEach((post) => { %>
					<article class="article" id="<%= post.id %>">
						<header>
							<h2><%= post.postTitle %></h2>
							<p><%= post.subTitle %></p>
						</header>
						<p>
							<%= post.postContent %>
						</p>
						<form class="button" action="/edit/<%= post.id %>" method="GET">
							<button>Edit Post</button>
						</form>
						<form class="button" action="/delete/<%= post.id %>" method="POST">
							<button>Delete Post</button>
						</form>
					</article>
				<% }) %>
			<% } else { %>
				<p>No posts yet!</p>
			<% } %>
		</div>
	-->
	<section id="title">
		<div class="container">
			<header class="pb-0 lh-1 py-3">
			  <div class="row flex-nowrap justify-content-between align-items-center">
				<div class="text-center">
				  <a class="blog-header-logo text-body-emphasis text-decoration-none" href="/">Personal Blog Website</a>
				</div>
			  </div>
			</header>
			<hr/>
		  
			<div class="py-0">
			  <p class="text text-center">Write blogs to your heart's content!</p>
			</div>
			<hr/>
		  </div>
	</section>

	<section class="input-form">
		<div class="container">
			<form name="frmContact" id="frmContact" method="post" action="" enctype="multipart/form-data" novalidate="">
				<div class="row py-2">
					<div class="form-group col-md-8">

						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost" viewBox="0 0 16 16">
									<path d="M7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414a1 1 0 0 0-2 0M12.532 5l1.666 2-1.666 2H2V5z"/>
								  </svg>
	  <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
	</svg></span>
							</div>
							<input type="text" class="form-control" id="postTitle" name="postTitle" placeholder="Post Title">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-8">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-fill" viewBox="0 0 16 16">
									<path d="M7.293.707A1 1 0 0 0 7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414A1 1 0 0 0 7.293.707"/>
								  </svg>
	  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"></path>
	</svg></span>
							</div>
							<input type="text"  class="form-control" id="subTitle" name="subTitle" placeholder="Subtitle">
							
						</div>
					</div>
				</div>
				<div class="row py-2">
					<div class="form-group col-md-8">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
	  <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
	</svg></span>
							</div>
							<!-- <textarea class="form-control" rows="5" name="message" id="message" required=""></textarea> --->
							<textarea class="form-control" rows="5" name="postContent" wrap=physical placeholder="What's on your mind?"></textarea>
						</div>
					</div>
				</div>
				
				<div class="row py-2">
					<div class="col">
						<input type="button" name="send" id="send" class="btn btn-primary" value="Send Message">
					</div>
				</div>
			</form>
			<hr/>
		</div>
		

	</section>

	<section class="posts">
		<div class="container">
		<div class="col-md-8 blog-main">
			<h3 class="pb-3 mb-4 font-italic border-bottom">
			  Previously on this Blog...
			</h3>
  
			<div class="blog-post">
			  <h2 class="blog-post-title">Sample blog post</h2>
  
			  <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
			  <hr>
			  <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
			</div>
  
		  </div>
		  </div>
		</div>
	</section>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</body>
</html>