<!DOCTYPE HTML>
<html>
	<head>
		<title>Personal Blog Web App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="styles/main.css" />
	</head>
	<body>
		<h1>Personal Blog Website!</h1>
		  <form action="/submit" method="POST">
			<label for="postTitle">Post Title</label><br>
			<input type="text" id="postTitle" name="postTitle"><br>
			<label for="subTitle">Sub title</label><br>
			<input type="text" id="subTitle" name="subTitle"><br>
			<label for="postContent">Post Content:</label><br>
			<textarea cols="40" rows="5" name="postContent" wrap=physical></textarea><br>
			<input type="submit" value="Create Post">
		  </form>

		  <h2>Recent Posts</h2>
			<div id="content">
				<% if (locals.posts) { %>
					 <% posts.forEach ((post) => { %>
						<article class="article">
							<header>
								<h2><%= post.postTitle %></h2>
								<p><%= post.subTitle %></p>
							</header>
							<p>
								<%= post.postContent %>
							</p>
							<form class="button" action="/edit/<%= post.id %>" method="GET">
								<input type="submit" value="Edit Post">
							</form>
							<form class="button" action="/delete/<%= post.id %>" method="POST">
								<input type="submit" value="Delete Post">
							</form>
						</article>
					<% }) %>
				<% } else {%>
					<p>No post yet!</p>
				<% } %>
			</div>


	</body>
</html>